$widget-color: #13B7D3;
$widget-side: right;

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;

    @if $widget-side == right {
        align-items: flex-end;
        margin: 0 2em 2em 0;
    }

    @if $widget-side == left {
        margin: 0 0 2em 2em;
    }
}

.speech-bubble {
    background-image: linear-gradient(140deg, #FCFCFC 0%, #F8F8F8 91%, #F8F8F8 91%);
    box-shadow: 0 0 50px 0 rgba(10,6,27,0.22);
    flex: 1;
    width: 100%;
    border-radius: 15px;
    border-top: 10px solid $widget-color;
    position: relative;

    &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -10px;
        #{$widget-side}: 30px;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #F8F8F8;
    }
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

.activator {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $widget-color;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
